<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Galerie Slider</title>
  <%= stylesheet_link_tag 'solidaire', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <h1 class="titre">Nos actions solidaires:</h1>
  <table class="gallery">
    <tr>
      <td>
        <div class="section">
          <%= image_tag "bread1.jpg", alt: "Pain complet", class: "img" %>
          <p>Crème pour les mains</p>
          <p class="price">3,0Ar</p>
        </div>
      </td>
      <%# <td class="separator"></td> %>
      <td>
        <div class="section">
          <%= image_tag "bread2.jpg", alt: "Pain complet" %>
          <p>Tisanes</p>
          <p class="price">4,0Ar</p>
        </div>
      </td>
      <%# <td class="separator"></td> %>
      <td>
        <div class="section">
          <%= image_tag "bread1.jpg", alt: "Pain complet" %>
          <p>Fraises - 1 kg</p>
          <p class="price">4,5Ar</p>
        </div>
      </td>
      <%# <td class="separator"></td> %>
      <td>
        <div class="section">
          <%= image_tag "bread1.jpg", alt: "Pain complet" %>
          <p>Avocats mûrs à point - 1 unité</p>
          <p class="price">0,9Ar</p>
        </div>
      </td>
      <%# <td class="separator"></td> %>
      <td>
        <div class="section">
          <%= image_tag "bread1.jpg", alt: "Pain complet" %>
          <p>Cuisses de poulet</p>
          <p class="price">4,0Ar</p>
        </div>
      </td>
    </tr>
  </table>
</body>
</html>
