<!DOCTYPE html>
<html>
<head>
  <title>Leader</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <div class="promo-section">
    <div class="promo-text">
      <p>Simple, frais et pratique</p>
      <h1>Faites le plein des produits de base</h1>
      <p>Économisez sur vos marques préférées</p>
      <button class="promo-button">Acheter</button>
    </div>
  <div class="impact">
      <table class="impact">
        <tr>
          <td>
            <%= image_tag "cadis.png", alt: "cadis" %>
          </td>
          <td>
            <p class="para_1">Impact direct</p><br>
            <p class="para_2">Sur le terrain</p>
          <td>

          <td class="separator">|</td>

          <td>
            <%= image_tag "cadis.png", alt: "cadis" %>
          </td>
          <td>
            <p class="para_1">Aide ciblée</p><br>
            <p class="para_2">Projets locaux</p>
          <td>

          <td class="separator">|</td>

          <td>
            <%= image_tag "cadis.png", alt: "cadis" %>
          </td>
          <td>
            <p class="para_1">Engagement</p><br>
            <p class="para_2">Transparence financière</p>
          <td>

          <td class="separator">|</td>

          <td>
            <%= image_tag "cadis.png", alt: "cadis" %>
          </td>
          <td>
            <p class="para_1">Suivi</p><br>
            <p class="para_2">Telecharger notre rapport</p>
          <td>
        </tr>
      </table>
</body>
</html>
